.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.233) 0px 5px 15px !important;
  width: 100%;
  max-width: 800px;
  border-radius: 15px !important;
  padding-bottom: 20px !important;
}

.h1Styles {
  margin-top: 10px;
  margin-bottom: 0px;
}

.screenshotWarning {
  color: rgba(85, 82, 82, 0.774) !important;
  margin-top: 15px !important;
  margin-bottom: 0px !important;
  text-align: center;
}

.secondTextImg {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto !important;
}

.heroText {
  text-align: center;
}

.orderSmall {
  padding: 0px !important;
  margin-right: 30px !important;
}

.order {
  padding: 0px !important;
}

.paymentMethod {
  display: flex;
  align-items: flex-end;
}

.pickupDelivery {
  text-align: center;
}

.centerNotes {
  text-align: center;
}

.refreshButton {
  display: flex;
  justify-content: center;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submitButton {
  background-color: rgb(233, 180, 123) !important;
  margin: 15px !important;
}
