.pageStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.navImage {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 100px;
}