.mainContainer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.bigCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.233) 0px 5px 15px !important;
  width: 100%;
  max-width: 800px;
  height: 100%;
  border-radius: 15px !important;
}

.heroText {
  text-align: center;
  margin-bottom: 20px;
}

.contactContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.contactUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 10px;
}

.cardText {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  min-width: 300px;
  align-items: center;
  box-shadow: none !important;
}

.iconsPhone {
  height: 50px !important;
  width: 50px !important;
  color: rgb(233, 180, 123);
}

.iconsEmail {
  height: 50px !important;
  width: 50px !important;
  color: rgb(67, 181, 129);
}

.email {
  display: none;
}

.contactUnit:hover .email {
  display: block;
}

.iconsFB {
  height: 50px !important;
  width: 50px !important;
  color: rgb(66, 103, 178);
}

.iconsIG {
  height: 50px !important;
  width: 50px !important;
  color: rgb(204, 46, 149);
}
