.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pickupDeliveryButtonSelected {
  background-color: rgb(233, 180, 123) !important;
  margin: 15px 15px 2px 15px !important;
}

.pickupDeliveryButton {
  margin: 15px 15px 2px 15px !important;
}

.title {
  margin-bottom: 0px;
}
