/* .imgContainer {
  height: 100px;
  width: 1000px;
}*/

.imgContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.img {
  height: 827px;
  width: 600px;
}

@media (max-width: 650px) {
  .img {
    height: 413px;
    width: 300px;
  }
}

.blueLink {
  color: blue;
  text-decoration: underline;
}
