.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selectCity {
  width: 100px;
}

.pickupDeliveryButtonSelected {
  background-color: rgb(233, 180, 123) !important;
  margin: 15px !important;
}

.pickupDeliveryButton {
  margin: 15px !important;
}